Repository sdslabs/Rootex, pull requests merged in 2020-03, with the labels that each got.

#67 Improve build time by setting common.h as PCH
  rootex/CMakeLists.txt
  rootex/framework/components/component_ids.h
  rootex/framework/components/physics/physics_component.cpp
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/physics_system.h
  rootex/pch/CMakeLists.txt
  rootex/pch/common_pch.h
Labels: common, core, core-renderer, enhancement, framework, game, main, os, vendor

#68 Add delegated Variant returning events
  editor/editor.cpp
  editor/editor.h
  editor/editor_main.cpp
  game/game_main.cpp
  rootex/common/common.h
  rootex/common/types.h
  rootex/core/audio/audio_source.cpp
  rootex/core/audio/audio_source.h
  rootex/core/audio/audio_system.cpp
  rootex/core/audio/audio_system.h
  rootex/core/audio/static_audio_buffer.cpp
  rootex/core/audio/static_audio_buffer.h
  rootex/core/event.h
  rootex/core/event_handler.cpp
  rootex/core/event_handler.h
  rootex/core/event_manager.cpp
  rootex/core/event_manager.h
  rootex/core/input/input_manager.cpp
  rootex/core/input/input_manager.h
  rootex/framework/entity.cpp
  rootex/framework/entity.h
  rootex/os/os.cpp
  rootex/os/thread.cpp
Labels: common, core, core-audio, core-renderer, enhancement, framework, game, os

#69 Add application layer
  .github/workflows/cpp.yml
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  editor/editor.cpp
  editor/editor.h
  editor/editor_application.cpp
  editor/editor_application.h
  editor/editor_main.cpp
  editor/project.lua
  game/assets/config/test.lua
  game/assets/config/window.lua
  game/config/post_initialize.lua
  game/game_application.cpp
  game/game_application.h
  game/game_main.cpp
  game/project.lua
  rootex/CMakeLists.txt
  rootex/app/CMakeLists.txt
  rootex/app/application.cpp
  rootex/app/application.h
  rootex/core/audio/audio_system.h
  rootex/core/event_manager.cpp
  rootex/framework/component.cpp
  rootex/framework/component.h
  rootex/framework/components/visual/visual_component.cpp
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
  rootex/main/main.cpp
  rootex/main/window.cpp
  rootex/os/thread.cpp
  rootex/os/thread.h
Labels: common, core, core-audio, enhancement, framework, game, main

#102 Remove unnecessary variable
  rootex/os/thread.h
Labels: os

#103 Fix hierarchy snatch algorithm in HierarchyComponent
  editor/editor.cpp
  editor/gui/hierarchy_dock.cpp
  editor/gui/hierarchy_dock.h
  game/assets/levels/level_0/entities/Cube_2.entity.json
  game/assets/levels/level_0/entities/Cube_3.entity.json
  game/assets/levels/level_0/entities/Root_1.entity.json
  game/assets/scripts/cube.lua
  game/assets/scripts/rotator.lua
  imgui.ini
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/entity.cpp
  rootex/framework/entity.h
  rootex/framework/systems/serialization_system.cpp
  rootex/script/interpreter.cpp
Labels: bug, framework, game, script

#105 Add change name feature
  editor/editor.app.json
  editor/editor.cpp
  editor/gui/inspector_dock.cpp
  editor/gui/inspector_dock.h
  game/assets/levels/level_0/entities/Cube_2.entity.json
  imgui.ini
  rootex/app/project_manager.cpp
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/systems/serialization_system.cpp
  rootex/os/os.cpp
  rootex/os/os.h
  rootex/script/interpreter.cpp
Labels: enhancement, framework, game, os, script

#108 Add delete entity button to inspector dock
  editor/CMakeLists.txt
  editor/gui/inspector_dock.cpp
  game/CMakeLists.txt
  imgui.ini
  rootex/CMakeLists.txt
  rootex/common/types.h
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/vertex_data.h
  rootex/core/resource_data.h
  rootex/core/resource_file.h
  rootex/core/resource_loader.h
  rootex/core/windows_utils.h
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/components/visual/directional_light_component.h
  rootex/framework/components/visual/point_light_component.h
  rootex/framework/components/visual/spot_light_component.h
  rootex/framework/entity.cpp
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/pch/CMakeLists.txt
  rootex/pch/common_pch.h
Labels: common, core, core-renderer, framework, game

#107 Add drag resource assignment in FileSystem dock
  editor/CMakeLists.txt
  editor/gui/file_system_dock.cpp
  editor/gui/inspector_dock.cpp
  game/CMakeLists.txt
  game/assets/levels/level_0/entities/Cube #2.entity.json
  game/assets/levels/level_0/entities/Cube3New #3.entity.json
  game/assets/levels/level_0/entities/Cube_3.entity.json
  game/assets/levels/level_0/entities/Light #6.entity.json
  game/assets/levels/level_0/entities/Root_1.entity.json
  game/assets/levels/level_0/entities/TextHelloWorld #4.entity.json
  game/assets/levels/level_0/entities/TexturedCube #5.entity.json
  imgui.ini
  rootex/CMakeLists.txt
  rootex/common/types.h
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/vertex_data.h
  rootex/core/resource_data.h
  rootex/core/resource_file.cpp
  rootex/core/resource_file.h
  rootex/core/resource_loader.cpp
  rootex/core/resource_loader.h
  rootex/core/windows_utils.h
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/components/script_component.cpp
  rootex/framework/components/script_component.h
  rootex/framework/components/test_component.cpp
  rootex/framework/components/test_component.h
  rootex/framework/components/visual/diffuse_visual_component.cpp
  rootex/framework/components/visual/diffuse_visual_component.h
  rootex/framework/components/visual/directional_light_component.h
  rootex/framework/components/visual/point_light_component.h
  rootex/framework/components/visual/spot_light_component.h
  rootex/framework/components/visual/text_visual_2d_component.cpp
  rootex/framework/components/visual/visual_component.cpp
  rootex/framework/components/visual/visual_component.h
  rootex/framework/entity.cpp
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/pch/CMakeLists.txt
  rootex/pch/common_pch.h
  rootex/script/interpreter.cpp
Labels: common, core, core-renderer, framework, game, script

#111 Shift AudioSystem to ECS framework
  editor/editor_application.cpp
  editor/gui/audio_player.cpp
  editor/gui/inspector_dock.cpp
  editor/gui/output_dock.cpp
  editor/gui/output_dock.h
  game/assets/levels/level_0/entities/TexturedCube #5.entity.json
  game/game_application.cpp
  imgui.ini
  rootex/app/application.cpp
  rootex/assets/ball.wav
  rootex/core/audio/audio_buffer.cpp
  rootex/core/audio/audio_source.cpp
  rootex/core/audio/static_audio_buffer.cpp
  rootex/core/audio/streaming_audio_buffer.cpp
  rootex/core/audio/streaming_audio_buffer.h
  rootex/core/resource_file.cpp
  rootex/core/resource_loader.cpp
  rootex/framework/components/audio_component.cpp
  rootex/framework/components/audio_component.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/music_component.cpp
  rootex/framework/components/music_component.h
  rootex/framework/components/short_music_component.cpp
  rootex/framework/components/short_music_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/audio_system.cpp
  rootex/framework/systems/audio_system.h
  rootex/test/abc.txt
Labels: core, core-audio, enhancement, framework, game

#115 Remove raw pointers and add ComPtr<> at all used places
  editor/gui/viewport_dock.cpp
  rootex/core/renderer/index_buffer.cpp
  rootex/core/renderer/index_buffer.h
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/core/renderer/vertex_buffer.cpp
  rootex/core/renderer/vertex_buffer.h
Labels: bug, core-renderer
