Repository sdslabs/Rootex, pull requests merged in 2020-04, with the labels that each got.

#118 Move physics material to physics system
  rootex/framework/components/physics/physics_component.cpp
  rootex/framework/components/physics/physics_component.h
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/physics_system.h
Labels: framework

#112 Add release build conf
  rootex/common/common.h
Labels: common, game

#120 Allow Lua Scripts as event callbacks
  editor/gui/file_system_dock.cpp
  editor/gui/file_viewer.cpp
  game/assets/levels/level_0/entities/Cube #2.entity.json
  game/assets/scripts/cube.lua
  rootex/common/types.h
  rootex/core/event.h
  rootex/core/event_manager.cpp
  rootex/core/event_manager.h
  rootex/core/resource_loader.cpp
  rootex/framework/components/music_component.cpp
  rootex/framework/components/script_component.cpp
  rootex/framework/components/script_component.h
  rootex/framework/components/short_music_component.cpp
  rootex/framework/components/visual/visual_component.cpp
  rootex/script/interpreter.cpp
  rootex/script/interpreter.h
Labels: common, core, framework, game, script

#121 Sets 'IsVisible' for visual component
  rootex/framework/components/visual/camera_visual_component.cpp
  rootex/framework/components/visual/diffuse_visual_component.cpp
  rootex/framework/components/visual/diffuse_visual_component.h
  rootex/framework/components/visual/visual_2d_component.cpp
  rootex/framework/components/visual/visual_component.cpp
  rootex/framework/components/visual/visual_component.h
Labels: framework

#123 Naming fixes of physics and renderer
  rootex/core/renderer/index_buffer.cpp
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/vertex_buffer.cpp
  rootex/framework/components/physics/physics_component.cpp
  rootex/framework/components/physics/physics_component.h
  rootex/framework/components/physics/sphere_component.cpp
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/physics_system.h
Labels: core-renderer, framework

#114 Add CPU particles component
  game/assets/classes/cube.entity.json
  game/assets/levels/level_0/entities/Cube #2.entity.json
  game/assets/levels/level_0/entities/Light #6.entity.json
  game/assets/levels/level_0/entities/TextHelloWorld #4.entity.json
  game/assets/levels/level_0/entities/TexturedCube #5.entity.json
  imgui.ini
  rootex/core/random.cpp
  rootex/core/random.h
  rootex/core/renderer/index_buffer.cpp
  rootex/core/renderer/index_buffer.h
  rootex/core/renderer/material.cpp
  rootex/core/renderer/material.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/shader.h
  rootex/core/renderer/shader_library.cpp
  rootex/core/renderer/shader_library.h
  rootex/core/renderer/shaders/cpu_particles_pixel_shader.hlsl
  rootex/core/renderer/shaders/cpu_particles_vertex_shader.hlsl
  rootex/core/renderer/vertex_buffer.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.h
  rootex/framework/components/visual/visual_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: core, core-renderer, enhancement, framework, game

#129 Fix lua state destructing before physics system
  rootex/app/application.cpp
Labels: bug

#143 add renderer/common/visual components/game docs (☞ﾟヮﾟ)☞
  game/game_application.cpp
  game/game_application.h
  rootex/common/common.h
  rootex/common/types.h
  rootex/core/renderer/buffer_format.h
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/dxgi_debug_interface.h
  rootex/core/renderer/index_buffer.h
  rootex/core/renderer/index_triangle_list.h
  rootex/core/renderer/renderer.h
  rootex/core/renderer/rendering_device.h
  rootex/core/renderer/shader_library.h
  rootex/core/renderer/texture.h
  rootex/core/renderer/vertex_buffer.h
  rootex/core/renderer/vertex_data.h
  rootex/core/renderer/viewport.h
  rootex/framework/components/visual/directional_light_component.cpp
  rootex/framework/components/visual/directional_light_component.h
  rootex/framework/components/visual/point_light_component.cpp
  rootex/framework/components/visual/point_light_component.h
  rootex/framework/components/visual/spot_light_component.cpp
  rootex/framework/components/visual/spot_light_component.h
  rootex/framework/components/visual/text_visual_2d_component.h
  rootex/framework/components/visual/visual_2d_component.h
  rootex/framework/systems/light_system.cpp
Labels: common, core-renderer, framework, game

#133 Addition and fixes of components/physics
  game/assets/test/teapot.lua
  rootex/framework/components/component_ids.h
  rootex/framework/components/physics/box_collider_component.cpp
  rootex/framework/components/physics/box_collider_component.h
  rootex/framework/components/physics/physics_collider_component.cpp
  rootex/framework/components/physics/physics_collider_component.h
  rootex/framework/components/physics/sphere_collider_component.cpp
  rootex/framework/components/physics/sphere_collider_component.h
  rootex/framework/components/physics/sphere_component.cpp
  rootex/framework/components/physics/sphere_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/physics_system.cpp
Labels: framework, game

#144 Add docs to physics component, systems and main.
  rootex/framework/components/physics/box_collider_component.h
  rootex/framework/components/physics/physics_collider_component.cpp
  rootex/framework/components/physics/physics_collider_component.h
  rootex/framework/components/physics/sphere_collider_component.h
  rootex/framework/systems/audio_system.h
  rootex/framework/systems/debug_system.h
  rootex/framework/systems/hierarchy_system.h
  rootex/framework/systems/light_system.cpp
  rootex/framework/systems/light_system.h
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/physics_system.h
  rootex/framework/systems/script_system.h
  rootex/framework/systems/serialization_system.h
  rootex/framework/systems/test_system.h
  rootex/main/window.h
  rootex/os/thread.cpp
  rootex/os/thread.h
Labels: framework, main, os

#142 Add docs to app, core, audio, input, os, framework, and script
  game/assets/levels/level_0/entities/Cube #2.entity.json
  rootex/app/application.h
  rootex/app/project_manager.h
  rootex/core/audio/audio_buffer.h
  rootex/core/audio/audio_source.h
  rootex/core/audio/static_audio_buffer.h
  rootex/core/audio/streaming_audio_buffer.h
  rootex/core/event.h
  rootex/core/event_manager.h
  rootex/core/input/input_listener.h
  rootex/core/input/input_manager.h
  rootex/core/random.h
  rootex/core/resource_data.h
  rootex/core/resource_file.h
  rootex/core/resource_loader.h
  rootex/framework/component.h
  rootex/framework/entity.h
  rootex/framework/entity_factory.h
  rootex/framework/system.h
  rootex/os/os.cpp
  rootex/os/os.h
  rootex/os/timer.h
  rootex/script/interpreter.h
Labels: core, core-audio, framework, game, os, script

#138 Adds functionality to ask the user to save before closing the editor
  editor/editor.cpp
  editor/editor.h
  rootex/app/project_manager.h
  rootex/framework/entity_factory.cpp
  rootex/main/window.cpp
  rootex/main/window.h
Labels: main

#139 camera hardcode fix
  rootex/framework/components/component_ids.h
  rootex/framework/components/visual/camera_visual_component.cpp
  rootex/framework/components/visual/camera_visual_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: framework, game

#127 alt+enter to fullscreen
  editor/editor.app.json
  editor/editor.cpp
  editor/gui/toolbar_dock.cpp
  game/game.app.json
  rootex/app/application.cpp
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/main/window.cpp
  rootex/main/window.h
Labels: core-renderer, game, main

#149 Add global settings settable at runtime
  editor/editor.app.json
  editor/editor.cpp
  editor/editor_application.cpp
  game/game.app.json
  game/game_application.cpp
  rootex/app/application.cpp
  rootex/app/application.h
  rootex/app/application_settings.cpp
  rootex/app/application_settings.h
  rootex/core/resource_file.cpp
  rootex/core/resource_file.h
Labels: core, enhancement, game

#151 Remove visibility property from camera
  editor/editor.cpp
  editor/gui/toolbar_dock.cpp
  game/assets/levels/level_0/entities/Cube #2.entity.json
  game/assets/levels/level_0/entities/Cube #4.entity.json
  game/assets/levels/level_0/level_0.level.json
  game/game.app.json
  game/game_application.cpp
  imgui.ini
  rootex/app/level_manager.cpp
  rootex/app/level_manager.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/visual/camera_component.cpp
  rootex/framework/components/visual/camera_component.h
  rootex/framework/components/visual/camera_visual_component.cpp
  rootex/framework/components/visual/camera_visual_component.h
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/entity_factory.cpp
  rootex/framework/system.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: enhancement, framework, game

#157 fix extra prerender binds and change view, projection bind location
  rootex/core/renderer/material.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/components/visual/textured_model_visual_component.cpp
  rootex/framework/components/visual/textured_model_visual_component.h
Labels: core-renderer, framework

#159 Add gizmo to editor viewport using ImGuizmo
  editor/editor.cpp
  editor/gui/inspector_dock.cpp
  editor/gui/inspector_dock.h
  editor/gui/viewport_dock.cpp
  game/assets/levels/level_0/entities/Cube #2.entity.json
  imgui.ini
  rootex/CMakeLists.txt
  rootex/vendor/CMakeLists.txt
  rootex/vendor/ImGUI/CMakeLists.txt
  rootex/vendor/ImGuizmo/CMakeLists.txt
  rootex/vendor/ImGuizmo/ImGuizmo.cpp
  rootex/vendor/ImGuizmo/ImGuizmo.h
  rootex/vendor/ImGuizmo/LICENSE
Labels: game, vendor

#158 Material refactor, optimize VSCB bind calls, lighting/shader improvements
  game/assets/levels/level_0/entities/SpotLightBehindWall #3.entity.json
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/material.cpp
  rootex/core/renderer/material.h
  rootex/core/renderer/renderer.cpp
  rootex/core/renderer/renderer.h
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/shader.h
  rootex/core/renderer/shaders/cpu_particles_pixel_shader.hlsl
  rootex/core/renderer/shaders/cpu_particles_vertex_shader.hlsl
  rootex/core/renderer/shaders/diffuse_texture_pixel_shader.hlsl
  rootex/core/renderer/shaders/diffuse_texture_vertex_shader.hlsl
  rootex/core/renderer/shaders/pixel_shader.hlsl
  rootex/core/renderer/shaders/register_locations_pixel_shader.h
  rootex/core/renderer/shaders/register_locations_vertex_shader.h
  rootex/core/renderer/shaders/vertex_shader.hlsl
  rootex/core/renderer/vertex_buffer.cpp
  rootex/framework/components/visual/camera_component.cpp
  rootex/framework/components/visual/camera_component.h
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.h
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/components/visual/model_visual_component.h
  rootex/framework/components/visual/text_visual_2d_component.cpp
  rootex/framework/components/visual/text_visual_2d_component.h
  rootex/framework/components/visual/textured_model_visual_component.cpp
  rootex/framework/components/visual/textured_model_visual_component.h
  rootex/framework/components/visual/visual_2d_component.h
  rootex/framework/components/visual/visual_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/light_system.cpp
  rootex/framework/systems/light_system.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: core, core-renderer, framework, game

#164 Add raycasting in physics
  rootex/framework/components/physics/box_collider_component.cpp
  rootex/framework/components/physics/sphere_collider_component.cpp
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/physics_system.h
Labels: framework

#146 Add better event handler storage
  rootex/core/event_manager.cpp
  rootex/core/event_manager.h
Labels: core

#162 Add Camera controls
  editor/CMakeLists.txt
  editor/editor.cpp
  editor/editor.h
  editor/editor_application.cpp
  editor/entities/camera.entity.json
  editor/gui/hierarchy_dock.cpp
  editor/gui/toolbar_dock.cpp
  editor/gui/viewport_dock.cpp
  editor/gui/viewport_dock.h
  game/CMakeLists.txt
  game/assets/levels/attenuation_test/attenuation_test.level.json
  game/assets/levels/attenuation_test/entities/Cube #3.entity.json
  game/assets/levels/level_0/entities/Cube #3.entity.json
  game/assets/levels/level_0/entities/SpotLightBehindWall #3.entity.json
  game/assets/scripts/sound_test.lua
  imgui.ini
  rootex/CMakeLists.txt
  rootex/app/application.h
  rootex/core/input/input_manager.cpp
  rootex/core/input/input_manager.h
  rootex/framework/components/audio_component.cpp
  rootex/framework/components/physics/physics_collider_component.cpp
  rootex/framework/components/transform_component.cpp
  rootex/framework/components/transform_component.h
  rootex/framework/components/visual/camera_component.cpp
  rootex/framework/components/visual/camera_component.h
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/components/visual/textured_model_visual_component.cpp
  rootex/framework/entity.cpp
  rootex/framework/entity.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/light_system.cpp
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/serialization_system.cpp
  rootex/main/window.cpp
  rootex/main/window.h
  rootex/script/interpreter.cpp
Labels: common, framework, game, main, vendor

#167 implement uniform scaling
  rootex/framework/components/transform_component.cpp
  rootex/framework/components/transform_component.h
Labels: enhancement, framework, good first issue

#172 Fix gizmo position when child obj is selected
  editor/gui/viewport_dock.cpp
Labels: bug

#177 Fix gizmo and CPU particles not using the local transform of children
  editor/gui/viewport_dock.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.h
  rootex/framework/components/visual/model_visual_component.cpp
Labels: bug, framework

#176 Add wireframe mode in Editor
  editor/editor.cpp
  editor/editor.h
  game/assets/levels/attenuation_test/entities/Cube #3.entity.json
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: core-renderer, enhancement, framework, game

#181 Add Entity library and entities that are draggable in to the world
  editor/editor.cpp
  editor/editor.h
  editor/gui/classes_dock.cpp
  editor/gui/classes_dock.h
  editor/gui/hierarchy_dock.cpp
  editor/gui/viewport_dock.cpp
  imgui.ini
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
Labels: enhancement, framework

#178 Add editor grid via a GridVisualComponent
  editor/editor.cpp
  editor/editor_application.cpp
  editor/entities/grid.entity.json
  editor/gui/hierarchy_dock.cpp
  editor/gui/hierarchy_dock.h
  editor/gui/inspector_dock.cpp
  editor/gui/viewport_dock.cpp
  editor/gui/viewport_dock.h
  imgui.ini
  rootex/CMakeLists.txt
  rootex/core/renderer/material.cpp
  rootex/core/renderer/material.h
  rootex/core/renderer/materials/color_material.cpp
  rootex/core/renderer/materials/color_material.h
  rootex/core/renderer/materials/cpu_particles_material.cpp
  rootex/core/renderer/materials/cpu_particles_material.h
  rootex/core/renderer/materials/textured_material.cpp
  rootex/core/renderer/materials/textured_material.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/shader.h
  rootex/core/renderer/shader_library.cpp
  rootex/core/renderer/shader_library.h
  rootex/core/renderer/shaders/grid_pixel_shader.hlsl
  rootex/core/renderer/shaders/grid_vertex_shader.hlsl
  rootex/core/renderer/vertex_buffer.cpp
  rootex/core/renderer/vertex_buffer.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/grid_visual_component.cpp
  rootex/framework/components/visual/grid_visual_component.h
  rootex/framework/components/visual/model_visual_component.h
  rootex/framework/components/visual/textured_model_visual_component.h
  rootex/framework/components/visual/visual_component.cpp
  rootex/framework/components/visual/visual_component.h
  rootex/framework/entity.h
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: core-renderer, enhancement, framework

#185 showCursor spam message issue fix
  rootex/main/window.cpp
Labels: main

#180 Add FPS flame graph to editor
  editor/gui/toolbar_dock.cpp
  editor/gui/toolbar_dock.h
  imgui.ini
  rootex/os/timer.cpp
  rootex/os/timer.h
Labels: enhancement, os
