Repository sdslabs/Rootex, pull requests merged in 2020-05, with the labels that each got.

#190 Add input settings per level
  editor/editor.app.json
  editor/editor.cpp
  editor/editor_application.cpp
  editor/gui/viewport_dock.cpp
  game/assets/levels/flappy_bird/entities/LightAndCamera #23.entity.json
  game/assets/levels/flappy_bird/flappy_bird.level.json
  game/assets/levels/level_0/level_0.level.json
  game/game_application.cpp
  rootex/app/level_manager.cpp
  rootex/app/level_manager.h
  rootex/core/input/input_listener.h
  rootex/core/input/input_manager.cpp
  rootex/core/input/input_manager.h
  rootex/framework/systems/render_system.cpp
  rootex/script/interpreter.cpp
Labels: enhancement, game

#186 Editor UI - Camera speed and camera sensitivity slider
  editor/gui/viewport_dock.cpp
Labels: enhancement

#192 Add custom material files, shared materials, automatic GC of materials
  editor/editor.cpp
  editor/editor.h
  game/assets/classes/cube.entity.json
  game/assets/levels/attenuation_test/entities/Cube #3.entity.json
  game/assets/levels/flappy_bird/entities/Cube #46.entity.json
  game/assets/levels/flappy_bird/entities/FlappyBird #22.entity.json
  game/assets/levels/flappy_bird/entities/LightAndCamera #23.entity.json
  game/assets/levels/flappy_bird/entities/Obstacle0 #26.entity.json
  game/assets/levels/flappy_bird/entities/Obstacle1 #41.entity.json
  game/assets/levels/flappy_bird/entities/Particles #47.entity.json
  game/assets/levels/flappy_bird/entities/WallUp #45.entity.json
  game/assets/levels/flappy_bird/entities/Wing #24.entity.json
  game/assets/levels/graphics_test/entities/ColorCube #7.entity.json
  game/assets/levels/graphics_test/entities/ColorCubeParticles #12.entity.json
  game/assets/levels/graphics_test/entities/ColorModel #10.entity.json
  game/assets/levels/graphics_test/entities/ColorTeapotParticles #13.entity.json
  game/assets/levels/graphics_test/entities/TextureModel #11.entity.json
  game/assets/levels/graphics_test/entities/TexturedCube #8.entity.json
  game/assets/levels/level_0/entities/Cube #3.entity.json
  game/assets/levels/level_0/entities/Cube #5.entity.json
  game/assets/levels/physics_test/entities/Ball #9.entity.json
  game/assets/levels/physics_test/entities/FallingCube #8.entity.json
  game/assets/levels/physics_test/entities/Floor #5.entity.json
  game/assets/levels/physics_test/entities/FlyingCube #6.entity.json
  game/assets/levels/physics_test/entities/TriangleFloor #10.entity.json
  game/assets/materials/blue.rmat
  game/assets/materials/blue_textured.rmat
  game/assets/materials/cpu_particles_stub.rmat
  game/assets/materials/cpu_particles_stub2.rmat
  game/assets/materials/green.rmat
  game/assets/materials/green_textured.rmat
  game/assets/materials/red.rmat
  game/assets/materials/rootex_logo_textured.rmat
  game/assets/materials/teal.rmat
  game/assets/materials/yellow_textured.rmat
  rootex/app/application.cpp
  rootex/core/physics/debug_drawer.cpp
  rootex/core/physics/debug_drawer.h
  rootex/core/renderer/material.cpp
  rootex/core/renderer/material.h
  rootex/core/renderer/material_library.cpp
  rootex/core/renderer/material_library.h
  rootex/core/renderer/materials/color_material.cpp
  rootex/core/renderer/materials/color_material.h
  rootex/core/renderer/materials/cpu_particles_material.cpp
  rootex/core/renderer/materials/cpu_particles_material.h
  rootex/core/renderer/materials/textured_material.cpp
  rootex/core/renderer/materials/textured_material.h
  rootex/core/renderer/shaders/diffuse_texture_pixel_shader.hlsl
  rootex/framework/component.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/cpu_particles_visual_component.h
  rootex/framework/components/visual/grid_visual_component.cpp
  rootex/framework/components/visual/grid_visual_component.h
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/components/visual/model_visual_component.h
  rootex/framework/components/visual/textured_model_visual_component.cpp
  rootex/framework/components/visual/textured_model_visual_component.h
  rootex/framework/entity_factory.cpp
Labels: core-renderer, framework, game

#183 Remove scale mode from gizmo (ImGuizmo has issues with it)
  editor/gui/viewport_dock.cpp
  rootex/framework/components/audio_component.h
Labels: bug, framework

#188 Fix unwanted offset on editor gizmo
  editor/gui/viewport_dock.cpp
Labels: bug

#193 Add Animated transform component + system + unlock fps
  editor/editor_application.cpp
  game/assets/levels/animation_test/animation_test.level.json
  game/assets/levels/animation_test/entities/Cube #2.entity.json
  game/game_application.cpp
  rootex/common/types.h
  rootex/core/renderer/rendering_device.cpp
  rootex/framework/components/component_ids.h
  rootex/framework/components/transform_animation_component.cpp
  rootex/framework/components/transform_animation_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/transform_animation_system.cpp
  rootex/framework/systems/transform_animation_system.h
  rootex/os/timer.h
Labels: common, core-renderer, enhancement, framework, game, os

#197 Add user guide docs
  README.md
  docs/conf.py
  docs/engine/architecture.rst
  docs/engine/audio.rst
  docs/engine/events.rst
  docs/engine/framework.rst
  docs/engine/inputs.rst
  docs/engine/multithreading.rst
  docs/engine/physics.rst
  docs/engine/rendering.rst
  docs/engine/resources.rst
  docs/engine/scripting.rst
  docs/guides/editor_layout.rst
  docs/guides/getting_help.rst
  docs/guides/getting_started.rst
  docs/guides/images/editor.png
  docs/guides/images/entities_dock.png
  docs/guides/images/file_system_dock.png
  docs/guides/images/hierarchy_dock.png
  docs/guides/images/inspector_dock.png
  docs/guides/images/output_dock.png
  docs/guides/images/toolbar_dock.png
  docs/guides/images/viewport_dock.png
  docs/guides/running_the_editor.rst
  docs/index.rst
  docs/requirements.txt
  rootex/assets/editor.png
Labels: documentation

#194 Add blending
  imgui.ini
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/framework/systems/physics_system.cpp
  rootex/framework/systems/render_system.cpp
Labels: common, core-renderer, framework, game, os

#203 Unify all materials to BasicMaterial (⌐■_■)
  game/assets/levels/animation_test/entities/Cube #2.entity.json
  game/assets/materials/blue.rmat
  game/assets/materials/blue_textured.rmat
  game/assets/materials/cpu_particles_stub.rmat
  game/assets/materials/cpu_particles_stub2.rmat
  game/assets/materials/green.rmat
  game/assets/materials/green_textured.rmat
  game/assets/materials/red.rmat
  game/assets/materials/rootex_logo_textured.rmat
  game/assets/materials/teal.rmat
  game/assets/materials/up_arrow.rmat
  game/assets/materials/yellow_textured.rmat
  rootex/assets/white.png
  rootex/core/physics/debug_drawer.cpp
  rootex/core/physics/debug_drawer.h
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/material.h
  rootex/core/renderer/material_library.cpp
  rootex/core/renderer/material_library.h
  rootex/core/renderer/materials/basic_material.cpp
  rootex/core/renderer/materials/basic_material.h
  rootex/core/renderer/materials/color_material.cpp
  rootex/core/renderer/materials/color_material.h
  rootex/core/renderer/materials/textured_material.cpp
  rootex/core/renderer/rendering_device.cpp
  rootex/core/renderer/rendering_device.h
  rootex/core/renderer/shaders/cpu_particles_vertex_shader.hlsl
  rootex/core/renderer/shaders/diffuse_texture_pixel_shader.hlsl
  rootex/core/renderer/shaders/diffuse_texture_vertex_shader.hlsl
  rootex/core/renderer/shaders/grid_vertex_shader.hlsl
  rootex/core/renderer/shaders/pixel_shader.hlsl
  rootex/core/renderer/shaders/register_locations_pixel_shader.h
  rootex/core/renderer/shaders/register_locations_vertex_shader.h
  rootex/core/renderer/shaders/vertex_shader.hlsl
  rootex/framework/components/component_ids.h
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/transform_component.h
  rootex/framework/components/visual/cpu_particles_visual_component.cpp
  rootex/framework/components/visual/model_visual_component.cpp
  rootex/framework/components/visual/model_visual_component.h
  rootex/framework/systems/light_system.cpp
  rootex/framework/systems/light_system.h
  rootex/framework/systems/render_system.cpp
Labels: core-renderer, game
