Repository sdslabs/Rootex, pull requests merged in 2020-07, with the labels that each got.

#213 Remove undefined-unused function `BindFunction` in systemhierarchy
  rootex/framework/systems/hierarchy_system.h
Labels: framework

#209 feat : add localization
  rootex/core/language_locale.cpp
  rootex/core/language_locale.h
Labels: core

#220 Fix viewport not scaling with monitor size
  editor/editor.app.json
  editor/editor.cpp
  editor/editor.h
  editor/gui/viewport_dock.cpp
  game/assets/levels/flappy_bird/entities/GameText #29.entity.json
  game/assets/scripts/sound_test.lua
  game/game.app.json
  imgui.ini
  rootex/app/application.cpp
  rootex/os/os.cpp
  rootex/os/os.h
Labels: bug, game, os

#221 Shift Lua registrations to class files
  game/assets/scripts/attenuation_test.lua
  game/assets/scripts/flappy_bird.lua
  game/assets/scripts/sound_test.lua
  game/assets/test/directional_light.lua
  game/assets/test/entity.lua
  game/assets/test/grass.lua
  game/assets/test/point_light.lua
  game/assets/test/sphere.lua
  game/assets/test/spot_light.lua
  game/assets/test/teapot.lua
  imgui.ini
  rootex/common/common.h
  rootex/core/event.cpp
  rootex/core/event.h
  rootex/core/event_manager.cpp
  rootex/core/event_manager.h
  rootex/core/input/input_manager.cpp
  rootex/core/input/input_manager.h
  rootex/core/resource_file.cpp
  rootex/core/resource_file.h
  rootex/core/resource_loader.cpp
  rootex/core/resource_loader.h
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/components/physics/physics_collider_component.cpp
  rootex/framework/components/physics/physics_collider_component.h
  rootex/framework/components/script_component.h
  rootex/framework/components/transform_component.cpp
  rootex/framework/components/transform_component.h
  rootex/framework/components/visual/model_component.cpp
  rootex/framework/components/visual/model_component.h
  rootex/framework/components/visual/render_ui_component.cpp
  rootex/framework/components/visual/render_ui_component.h
  rootex/framework/components/visual/text_ui_component.cpp
  rootex/framework/components/visual/text_ui_component.h
  rootex/framework/entity.cpp
  rootex/framework/entity.h
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/script/interpreter.cpp
  rootex/script/interpreter.h
Labels: common, core, framework, game

#222 Add lua event connections doable from Lua code + multiple scripts in 1
  editor/gui/inspector_dock.cpp
  editor/gui/toolbar_dock.cpp
  game/assets/levels/animation_test/entities/Cube #2.entity.json
  game/assets/levels/attenuation_test/entities/Cube #3.entity.json
  game/assets/levels/flappy_bird/entities/FlappyBird #22.entity.json
  game/assets/levels/flappy_bird/entities/GameText #29.entity.json
  game/assets/levels/flappy_bird/flappy_bird.level.json
  game/assets/levels/model_test/entities/FPS #7.entity.json
  game/assets/levels/physics_test/entities/FallingCube #8.entity.json
  game/assets/levels/trigger_test/entities/Cube #4.entity.json
  game/assets/scripts/fail_game_text.lua
  game/assets/scripts/flappy_bird.lua
  game/assets/scripts/trigger_test.lua
  game/game.app.json
  imgui.ini
  rootex/core/event_manager.cpp
  rootex/framework/components/script_component.cpp
  rootex/framework/components/script_component.h
  rootex/framework/entity.cpp
  rootex/framework/entity.h
  rootex/script/interpreter.cpp
Labels: bug, common, core, framework, game, script

#228 Fix classes dock looking for recursively for files that have already …
  editor/gui/classes_dock.cpp
  imgui.ini
Labels: bug

#229 Add build artifact storing in actions
  .github/workflows/cpp.yml
Labels: enhancement
