Repository sdslabs/Rootex, pull requests merged in 2020-09, with the labels that each got.

#239 flags for vs 2017 and 2019
  .github/workflows/cpp.yml
  README.md
  generate_cache.bat
Labels: common, framework, game

#236 sol3 hot fix
  rootex/vendor/Sol3/include/sol/function_types_stateless.hpp
Labels: vendor

#204 Add Movable Listener
  game/assets/levels/attenuation_test/attenuation_test.level.json
  game/assets/levels/attenuation_test/entities/Listener #5.entity.json
  game/assets/levels/attenuation_test/entities/Source #3.entity.json
  game/assets/levels/physics_test/physics_test.level.json
  game/assets/scripts/cube2.lua
  game/assets/scripts/sound_test.lua
  rootex/app/application.cpp
  rootex/app/level_manager.cpp
  rootex/framework/components/audio_listener_component.cpp
  rootex/framework/components/audio_listener_component.h
  rootex/framework/components/component_ids.h
  rootex/framework/entity_factory.cpp
  rootex/framework/systems/audio_system.cpp
  rootex/framework/systems/audio_system.h
Labels: framework, game

#238 Clean Editor UI + other fixes
  editor/assets/entities/camera.entity.json
  editor/assets/entities/grid.entity.json
  editor/assets/fonts/Lato-Bold.ttf
  editor/assets/fonts/Lato-Regular.ttf
  editor/editor.app.json
  editor/editor.cpp
  editor/editor.h
  editor/gui/hierarchy_dock.cpp
  editor/gui/inspector_dock.cpp
  editor/gui/viewport_dock.cpp
  game/assets/fonts/lato_30_bold.spritefont
  game/assets/fonts/lato_30_italic.spritefont
  game/assets/fonts/lato_30_regular.spritefont
  game/assets/levels/flappy_bird/entities/LightAndCamera #23.entity.json
  game/assets/levels/model_test/entities/FPS #7.entity.json
  game/assets/scripts/fps_display.lua
  game/game.app.json
  imgui.ini
Labels: game

#235 Fix particle materials
  DefaultMaterial
  game/assets/levels/flappy_bird/entities/Particles #47.entity.json
  game/assets/levels/flappy_bird/flappy_bird.level.json
  game/assets/levels/graphics_test/entities/ColorCubeParticles #12.entity.json
  game/assets/levels/graphics_test/entities/ColorTeapotParticles #13.entity.json
  game/assets/materials/DefaultMaterial.rmat
  game/assets/test/rootex.png
  rootex/assets/materials/collision.rmat
  rootex/assets/materials/default.rmat
  rootex/assets/materials/default_particles.rmat
  rootex/assets/materials/grid.rmat
  rootex/assets/materials/line.rmat
  rootex/core/physics/debug_drawer.cpp
  rootex/core/renderer/material_library.cpp
  rootex/core/renderer/material_library.h
  rootex/core/resource_loader.cpp
  rootex/framework/components/visual/cpu_particles_component.cpp
  rootex/framework/components/visual/cpu_particles_component.h
  rootex/framework/components/visual/grid_model_component.cpp
  rootex/framework/systems/render_system.cpp
  rootex/os/os.cpp
Labels: core, core-renderer, framework, game, os

#248 Fix lighting
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/shaders/basic_pixel_shader.hlsl
  rootex/core/renderer/shaders/basic_vertex_shader.hlsl
  rootex/core/renderer/shaders/register_locations_pixel_shader.h
  rootex/framework/components/visual/camera_component.h
  rootex/framework/systems/light_system.cpp
Labels: bug, core, core-renderer, enhancement, framework

#253 Hierarchal changes and adding object by drag and drop transform fixes; spot light fixes
  editor/gui/hierarchy_dock.cpp
  editor/gui/viewport_dock.cpp
  rootex/framework/components/visual/spot_light_component.cpp
  rootex/framework/systems/light_system.cpp
Labels: editor, framework

#250 Add threadpool to app
  game/assets/levels/attenuation_test/entities/Listener #5.entity.json
  game/assets/levels/attenuation_test/entities/Source #3.entity.json
  game/game.app.json
  rootex/app/application.cpp
  rootex/app/application.h
  rootex/framework/system.h
  rootex/framework/systems/audio_system.cpp
  rootex/framework/systems/audio_system.h
  rootex/framework/systems/debug_system.cpp
  rootex/framework/systems/hierarchy_system.cpp
  rootex/framework/systems/light_system.cpp
  rootex/framework/systems/serialization_system.cpp
  rootex/framework/systems/test_system.cpp
  rootex/framework/systems/ui_system.cpp
  rootex/framework/systems/ui_system.h
  rootex/os/thread.cpp
  rootex/os/thread.h
Labels: app, editor, framework, game, os

#251 Fix systems turned off/not initialized per level
  editor/editor_application.cpp
  editor/editor_system.cpp
  editor/editor_system.h
  editor/gui/toolbar_dock.cpp
  game/game.app.json
  rootex/app/application.cpp
  rootex/app/level_manager.cpp
  rootex/app/level_manager.h
  rootex/assets/materials/default.rmat
  rootex/core/audio/audio_source.cpp
  rootex/core/renderer/render_pass.h
  rootex/framework/components/visual/model_component.cpp
  rootex/framework/components/visual/model_component.h
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/framework/system.cpp
  rootex/framework/system.h
  rootex/framework/systems/audio_system.cpp
  rootex/framework/systems/audio_system.h
  rootex/framework/systems/input_system.cpp
  rootex/framework/systems/input_system.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
  rootex/framework/systems/ui_system.cpp
  rootex/framework/systems/ui_system.h
Labels: app, core, editor, framework, game, os

#256 Remove 20px offset on gizmo pos
  editor/gui/viewport_dock.cpp
Labels: bug, editor

#273 Add Lua debugger
  editor/CMakeLists.txt
  game/CMakeLists.txt
  rootex/framework/components/script_component.cpp
  rootex/framework/components/script_component.h
  rootex/script/debugger.lua
  rootex/script/interpreter.cpp
  rootex/vendor/FreeType/CMakeLists.txt
  rootex/vendor/FreeType/libs/freetype.lib
  rootex/vendor/RmlUi/Source/Lua/LuaPlugin.cpp
Labels: app, common, core, editor, enhancement, framework, game, os, script, vendor

#265 Fix off center bounds being unselectable
  editor/gui/viewport_dock.cpp
  rootex/framework/components/transform_component.h
Labels: bug, editor, framework

#276 Normal maps
  game/assets/levels/normal_test/entities/Glass #2.entity.json
  game/assets/levels/normal_test/entities/Light #4.entity.json
  game/assets/levels/normal_test/normal_test.level.json
  game/assets/materials/Coffee.rmat
  game/assets/materials/Condensation.rmat
  game/assets/materials/Glass.rmat
  game/assets/test/WaterDropletsMixedBubbled001_NRM16_1K.png
  game/assets/test/glass.mtl
  game/assets/test/glass.obj
  rootex/assets/cross.png
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/materials/basic_material.cpp
  rootex/core/renderer/materials/basic_material.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/shader.h
  rootex/core/renderer/shader_library.cpp
  rootex/core/renderer/shaders/basic_pixel_shader.hlsl
  rootex/core/renderer/shaders/basic_vertex_shader.hlsl
  rootex/core/renderer/shaders/register_locations_pixel_shader.h
  rootex/core/renderer/texture.cpp
  rootex/core/renderer/texture.h
  rootex/core/renderer/vertex_data.h
  rootex/core/resource_loader.cpp
Labels: core, game

#277 add entity copying
  editor/gui/inspector_dock.cpp
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  yo
Labels: editor, framework
