Repository sdslabs/Rootex, pull requests merged in 2020-01, with the labels that each got.

#32 Add timers
  game/main.cpp
  rootex/framework/systems/render_system.cpp
  rootex/os/os.cpp
  rootex/os/os.h
  rootex/os/timer.cpp
  rootex/os/timer.h
Labels: common, core, framework, game, os

#35 Add FPS counter to FrameTimer
  game/main.cpp
  rootex/os/timer.cpp
  rootex/os/timer.h
Labels: game, os

#17 Add task manager
  game/main.cpp
  rootex/os/thread.cpp
  rootex/os/thread.h
Labels: game, os

#39 Event manager
  game/main.cpp
  rootex/core/event.h
  rootex/core/event_manager.cpp
  rootex/core/event_manager.h
Labels: core, game

#46 Add entity graph
  game/main.cpp
  rootex/framework/component.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/hierarchy_component.cpp
  rootex/framework/components/hierarchy_component.h
  rootex/framework/components/root_hierarchy_component.cpp
  rootex/framework/components/root_hierarchy_component.h
  rootex/framework/components/visual/camera_visual_component.cpp
  rootex/framework/components/visual/camera_visual_component.h
  rootex/framework/components/visual/diffuse_visual_component.h
  rootex/framework/components/visual/root_visual_component.cpp
  rootex/framework/components/visual/root_visual_component.h
  rootex/framework/components/visual/visual_component.cpp
  rootex/framework/components/visual/visual_component.h
  rootex/framework/components/visual/visual_component_graph.cpp
  rootex/framework/components/visual/visual_component_graph.h
  rootex/framework/entity.h
  rootex/framework/entity_factory.cpp
  rootex/framework/entity_factory.h
  rootex/os/thread.h
Labels: framework, game, os
