Repository sdslabs/Rootex, pull requests merged in 2021-01, with the labels that each got.

#232 Implement animation system
  .github/labeler.yml
  .github/workflows/label.yml
  game/assets/materials/Material_001.rmat
  game/assets/test/animation.dae
  imgui.ini
  rootex/app/application.cpp
  rootex/assets/animation.dae
  rootex/assets/materials/animated_default.rmat
  rootex/core/animation/animation.cpp
  rootex/core/animation/animation.h
  rootex/core/renderer/buffer_format.h
  rootex/core/renderer/constant_buffer.h
  rootex/core/renderer/material_library.cpp
  rootex/core/renderer/material_library.h
  rootex/core/renderer/materials/animated_material.cpp
  rootex/core/renderer/materials/animated_material.h
  rootex/core/renderer/materials/basic_material.h
  rootex/core/renderer/shader.cpp
  rootex/core/renderer/shader.h
  rootex/core/renderer/shader_library.cpp
  rootex/core/renderer/shader_library.h
  rootex/core/renderer/shaders/animation_vertex_shader.hlsl
  rootex/core/renderer/shaders/register_locations_vertex_shader.h
  rootex/core/renderer/vertex_buffer.cpp
  rootex/core/renderer/vertex_buffer.h
  rootex/core/renderer/vertex_data.h
  rootex/core/resource_file.h
  rootex/core/resource_files/animated_model_resource_file.cpp
  rootex/core/resource_files/animated_model_resource_file.h
  rootex/core/resource_files/model_resource_file.cpp
  rootex/core/resource_loader.cpp
  rootex/core/resource_loader.h
  rootex/framework/components/component_ids.h
  rootex/framework/components/visual/animated_model_component.cpp
  rootex/framework/components/visual/animated_model_component.h
  rootex/framework/components/visual/cpu_particles_component.cpp
  rootex/framework/components/visual/cpu_particles_component.h
  rootex/framework/components/visual/model_component.cpp
  rootex/framework/components/visual/model_component.h
  rootex/framework/components/visual/renderable_component.cpp
  rootex/framework/components/visual/renderable_component.h
  rootex/framework/ecs_factory.cpp
  rootex/framework/scene.cpp
  rootex/framework/systems/animation_system.cpp
  rootex/framework/systems/animation_system.h
  rootex/framework/systems/render_system.cpp
  rootex/framework/systems/render_system.h
Labels: app, core, core-renderer, framework, game

#342 Fix scene creation crash due to unconverted scene name to path
  editor/editor_system.cpp
Labels: bug

#349 Fix : Scene::snatchChild unique pointer issue and SceneDock crash
  editor/gui/scene_dock.cpp
  rootex/framework/scene.cpp
  rootex/framework/scene.h
Labels: bug, core, editor, enhancement
